.App {
  text-align: center;
  background-color: #5A20CB;
  justify-content: center;
  color: white;
  font-size: 20px;
  display:flex;
   flex-direction: column; 
  align-items: center;  
  
  
}   
input{
  width: 400px;
  height:30px;
}
button{
  width: 100px;
  height:20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #5A20CB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a{
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
